## Dataframe Format Settings

In [9]:
import pandas as pd

In [14]:
df = pd.DataFrame({
    "strings": ["Adam", "Jane"],
    "ints": [1, 2],
    "floats": [1.064259, 1000.23]
})
df.style \
  .format(precision=3, thousands=",", decimal=".") \
  .format_index(str.upper, axis=1) \
  .relabel_index(["row 1", "row 2"], axis=0)